@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

$color-highlight: #ddda09;
$color-accent: #a0e7e5;
$color-attention: #f57794;

/* Common styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

/* End of Common styles */

/* Section Common Styles */

.section {
    width: 100%;
    height: 100vh;
}

/* End of Section Common Styles */

/* Section 1 */

.section-1 {
    background-color: #343a40;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading {
    color: #fff;
    
    font-size: 12rem;
    font-weight: 900;

    text-align: center;
    text-transform: capitalize;
    letter-spacing: .5rem;
    text-shadow: .3rem .3rem .3rem #000;
}

.section-1-icons i {
    font-size: 35rem;
    position: absolute;
    // color: $color-highlight;
    color: $color-accent;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: .2rem .2rem .3rem #000;
    transition: transform .3s;
}

.section-1-icons i.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s .3s;
}

/* End of Section 1 */

/* Section 2 */

.section-2 {
    // background-color: #707d94;
    background-color: #495057;
    padding: 6rem;    
}

.section-2 .section-heading {
    margin-bottom: 10rem;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    background-color: $color-accent;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 1rem 1rem 1rem #000;

    position: relative;

    transform: rotateY(20deg) skewX(-1deg);
    transition: transform .3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: rotateY(20deg) skewX(-3deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: #a4e9e7;
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.15rem -.1rem .1rem #000;
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: #bcf7f5;
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -.15rem -.1rem .1rem #000;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #111;
    margin: 2rem 0;
    text-shadow: .15rem .15rem .15rem rgb(187, 185, 185) ;
}

.card-btn {
    background-color: #111;
    color: #ddd;
    border-radius: 5rem;
    padding: .5rem 0rem;
    width: 70%;

    font-size: 1.5rem;
    letter-spacing: .2rem;
    border: none;

    cursor: pointer;
    box-shadow: 0rem 0rem 1rem #000;
}

.card-img {
    width: 100%;
}

/* End of Section 2 */

/* Section 3 */

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #6c757d;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}
    
.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vh;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;

    transition: height .5s;
}

.gallery-link:hover::before {
    height: 80%;
    z-index: 10;
}

.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: #fff;

    transition: width .3s;
}

.gallery-link:hover::after {
    width: 90%;
}

.food-img {
    width: 24vw;
    height: 25vh;
    object-fit: cover;

    box-shadow: 
        0.3rem 0.3rem 0.3rem #239f40,
        0.5rem 0.5rem 0.1rem #fff,
        .7rem 0.7rem 0.7rem #da0000;

    transition: all .3s;
}

.gallery-link:hover .food-img {
    box-shadow: 
        1rem 1rem 1rem #239f40,
        2rem 2rem 2rem #fff,
        3rem 3rem 3rem #da0000;

    filter: blur(0.5rem);
    opacity: 0.7;
    transform: scale(1.1);
}

.food-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s .5s;
}

.food-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;

    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

/* End of Section 3 */


.color-accent {
    color: $color-highlight;
    // color: $color-attention;
}